<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Instructor Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.10.1/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="flex flex-col w-full place-items-center px-2">
      <div class="navbar w-full bg-base-300 m-2 rounded-lg">
        <a href="{% url 'index' %}">
          <button class="btn btn-ghost text-xl">Instructor Dashboard</button>
        </a>
      </div>
      <div class="card m-2 w-10/12 bg-base-300 shadow-xl">
        <div class="card-body">
          <h2 class="card-title">Course Summaries</h2>
          <form method="get" action="{% url 'instructor_dashboard' %}" class="flex gap-2 items-center">
          <label class="input input-bordered flex items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 opacity-70"><path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z" /></svg>
            <input type="text" name="instructor" class="grow" value="Instructor" />
          </label>
          <select name="year" class="select select-bordered w-fit max-w-xs">
            <option disabled selected>Year:</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
          </select>
          <select name="semester" class="select select-bordered w-fit max-w-xs">
            <option disabled selected>Semester:</option>
            <option value="1">1</option>
            <option value="2">2</option>
          </select>
          <button type="submit" class="btn btn-accent font-bold">Search</button>
        </form>
          <div class="overflow-x-auto">
            <table class="table text-center">
              <!-- head -->
              <thead>
                <tr>
                  <th>Course Sections</th>
                  <th>Number of Students</th>
                </tr>
              </thead>
              <tbody>
                <!-- row 1 -->
                {% for course in course_enrollments %}
                <tr>
                    
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="card m-2 w-10/12 bg-base-300 shadow-xl">
        <div class="card-body">
          <h2 class="card-title">Student Enrollment</h2>
          <form method="post" class="flex gap-2 items-center">
          <label class="input input-bordered flex items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 opacity-70"><path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z" /></svg>
            <input type="text" name="instructor" class="grow" value="Instructor" />
          </label>
          <label class="input input-bordered flex items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 opacity-70"><path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z" /></svg>
            <input type="text" name="course" class="grow" value="course" />
          </label>
          <button type="submit" class="btn btn-accent font-bold">Search</button>
        </form>
          <div class="overflow-x-auto">
            <table class="table text-center">
              <!-- head -->
              <thead>
                <tr>
                  <th>Students</th>
                </tr>
              </thead>
              <tbody>
                <!-- row 1 -->
                <tr>
                  <td>Xavier Lora</td>
                </tr>
                <tr>
                  <td>Rowan Rische</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>