<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Student Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.10.1/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="flex flex-col w-full place-items-center px-2">
      <div class="navbar w-full bg-base-300 m-2 rounded-lg">
        <div class="navbar w-full bg-base-300 m-2 rounded-xl">
          <a href="{% url 'index' %}">
            <button class="btn btn-ghost text-xl">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15M12 9l-3 3m0 0 3 3m-3-3h12.75" />
              </svg>
            </button>
          </a>
          <button class="btn btn-ghost text-xl">Student Dashboard</button>
        </div>
      </div>
      <div class="card m-2 w-10/12 bg-base-300 shadow-xl">
        <div class="card-body">
          <h2 class="card-title">Course List</h2>
          <form method="get" action="{% url 'student_dashboard' %}" class="flex gap-2 items-center">
            <select name="dept" class="select select-bordered w-fit max-w-xs">
              <option disabled selected>Department:</option>
              <option value="CS">CS</option>
              <option value="EE">EE</option>
            </select>
          <select name="year" class="select select-bordered w-fit max-w-xs">
            <option disabled selected>Year:</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
          </select>
          <select name="semester" class="select select-bordered w-fit max-w-xs">
            <option disabled selected>Semester:</option>
            <option value="01">01</option>
            <option value="02">02</option>
          </select>
          <button type="submit" class="btn btn-accent font-bold">Search</button>
        </form>
          <div class="overflow-x-auto">
            <table class="table text-center">
              <!-- head -->
              <thead>
                <tr>
                  <th>Courses</th>
                </tr>
              </thead>
              <tbody>
                <!-- row 1 -->
                {% for course in course_list %}
                <tr>
                  <td>{{ course }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>